.block-container.css-12oz5g7.egzxvld2 {
  background-color: rgba(6,5,55,255);
  max-width: 2200px
}

button.css-1x8cf1d.edgvbvh10 {
  color: rgb(7, 40, 68)!important;
}

.appview-container.css-1wrcr25.egzxvld4 {
  width: 100%
}

div.css-1kyxreq.etr89bj2 {
  display: flex;
  justify-content: center;
}

div.css-1v0mbdj.etr89bj1.img {
  display: block;
  margin: auto;
  width: 60%;
}

p, span.css-10trblm.e16nr0p30 {
  color: white;
}

span {
  display: flex;
  justify-content: center;
}
