.block-container.css-12oz5g7.egzxvld2 {
  background-color: rgba(6,5,55,255);
  width: 100%;
  block-size: 300px;
  writing-mode: horizontal-tb;
}

div.css-1kyxreq.etr89bj2 {
  display: flex;
  justify-content: center;
}

img {
  display: block;
  margin: auto;
  width: 60%;
}

p, span.css-10trblm.e16nr0p30 {
  color: white;
}
