.block-container.css-12oz5g7.egzxvld2 {
  background-color: rgba(6,5,55,255);
  max-width: 2200px
}

.appview-container.css-1wrcr25.egzxvld4 {
  width: 100%
}

div.css-1kyxreq.etr89bj2 {
  display: flex;
  justify-content: center;
}

div.css-12ttj6m.epcbefy1 {
  display: flex;
  justify-content: center;
  width:60%
}

img {
  display: block;
  margin: auto;
  width: 60%;
}

p, span.css-10trblm.e16nr0p30 {
  color: white;
}
